.header {
	height: 75px; 
	text-align: center;
	border-bottom: 1px #DDDDDD solid;
	background-image: url('../img/globe.png');
	background-repeat: no-repeat;
	margin-bottom: 15px;
	background-position:20px 0px;
	background: #2DAEBF;
}
.give {
	width:100%; 
	margin-bottom: 0px;
}
.shift { padding-left:20px; }
.center { text-align: center; }
.donations { font-size:small; }
.top-bar { padding-bottom: 0px; margin-bottom: 0px;}

.time { width: 250px; }
.ip { width: 100px; }
.transid { width: 300px; }

@media only screen and (min-width: 1168px) {}