{% extends "layout.html" %}

{% block content %}

<h3>Beginners Guide</h3>

<p>
	Over the last several months the digital currency Terracoin has been steadily gaining a following. With the emergence of several Terracoin communities and more developers working on Terracoin projects I’ve decided to do a series of posts on using and mining Terracoin. What follows is an introduction to Terracoin and a guide on using the Terracoin client.
</p>

<h4>An Overview of Terracoin</h4>

<p>
<a href="http://terracoin.org/">Terracoin</a> (abbreviated TRC) is a decentralized, person to person digital currency based on a protocol similar to <a href="http://bitcoin.org/">Bitcoin</a>, as laid out in Satoshi Nakomoto’s white paper. Unlike traditional currencies, Terracoin is run and maintained solely by the users on the network and is not dependent on a central entity. It is reliant on having an active group of users running the Terracoin client and an active group of miners who use computing power to process transactions. Terracoin was launched on October 26th, 2012 making it one of the youngest crypto currencies.

Terracoin was designed to be a finite currency with only 42 million Terracoins to be produced. Miners generate a ‘block’ of 20 Terracoins approximately every 2 minutes. The mining difficulty adjusts every 30 blocks or roughly every hour. It uses the SHA-256 hashing algorithm (Bitcoin’s hashing algorithm is double SHA-256). The block size will decrease at set increments until new coins are no longer generated.
</p>

<h4>Setting Up The Terracoin Client</h4>
<p>
	To use Terracoin you need to first download and run the Terracoin client or wallet. Once you have downloaded the client you’ll need to find the terracoin-qt.exe file in the Terracoin folder and run it. It will take at least a few minutes for the Terracoin client to download the blockchain and sync with the network. Things are fairly self-explanatory once you have the client up and running. Send Coins lets you send Terracoins to another user by entering in their address and the amount to send. Receive coins allows you to manage your addresses, copy them and allows other people to send you coins. Transactions is a ledger of all the coins you’ve sent and received to date. The address book allows you to manage a list of addresses and label them so you don’t have to reacquire an address every time you need to send someone coins.
	<img src="/static/img/TerracoinClient.jpg" alt="TerracoinClient"/>
</p>
<p>
	<a href="https://sourceforge.net/projects/terracoin/files/latest/download" class="success button give">Download a Terracoin Wallet (Windows)</a>
</p>

<h4>Terracoin Communities</h4>
<p>
<a href="http://terracointalk.org/">TerracoinTalk</a> came online earlier this month and has a growing and active community. This is a good place to get your questions answered. The <a href="https://bitcointalk.org/index.php?board=67.0">Alternate CryptoCurrencies</a> board over at <a href="http://bitcointalk.org/">BitcoinTalk</a> has a lot of good information on Terracoin as well. While it doesn’t have very many subscribers yet the <a href="http://www.reddit.com/r/terracoin">Terracoin Subreddit</a> has been up and running since November 2012. It has some good information as far as where to get more involved with Terracoin.
<img src="/static/img/TerracoinTalk.jpg" alt="TerracoinTalk"/>
</p>

<h4>Source</h4>
<p>
This was adapted with permission from our friends at <a href="http://cryptojunky.com/">CryptoJunky</a>.
</p>
<p>
	<a href="http://cryptojunky.com/blog/2013/02/23/getting-started-with-terracoin-2/" class="success button give">Read Full Article</a>
</p>

{% endblock %}