{% extends "layout.html" %}

{% block content %}

<h3>Beginners Guide</h3>

<p>
	Over the last several months the digital currency Terracoin has been steadily gaining a following. With the emergence of several Terracoin communities and more developers working on Terracoin projects I’ve decided to do a series of posts on using and mining Terracoin. What follows is an introduction to Terracoin and a guide on using the Terracoin client.
</p>

<h4>An Overview of Terracoin<h4>

<p>
Terracoin (abbreviated TRC) is a decentralized, person to person digital currency based on a protocol similar to Bitcoin, as laid out in Satoshi Nakomoto’s white paper. Unlike traditional currencies, Terracoin is run and maintained solely by the users on the network and is not dependent on a central entity. It is reliant on having an active group of users running the Terracoin client and an active group of miners who use computing power to process transactions. Terracoin was launched on October 26th, 2012 making it one of the youngest crypto currencies.

Terracoin was designed to be a finite currency with only 42 million Terracoins to be produced. Miners generate a ‘block’ of 20 Terracoins approximately every 2 minutes. The mining difficulty adjusts every 30 blocks or roughly every hour. It uses the SHA-256 hashing algorithm (Bitcoin’s hashing algorithm is double SHA-256). The block size will decrease at set increments until new coins are no longer generated.
</p>


{% endblock %}