{% extends "layout.html" %}

{% block content %}

	{% if form_submit == "good" %}
		<div data-alert class="alert-box">
			You have been added! Our server will send your Terracoin in the next 5 minutes.
			<a href="#" class="close">&times;</a>
		</div>
	{% elif form_submit == "bad" %}
		<div data-alert class="alert-box alert">
			Invalid Terracoin Address or Captcha! Please try again.
			<a href="#" class="close">&times;</a>
		</div>
	{% elif form_submit == "duplicate" %}
		<div data-alert class="alert-box alert">
			You must like Terracoin. Please wait {{last_req}} minutes before making another request.
			<a href="#" class="close">&times;</a>
		</div>
	{% endif %}

	<h3>What is Terracoin?</h3>
	<p>
		<a href="http://terracoin.com">Terracoin</a> (TRC) is a digital currency, based on 
		<a href="http://bitcoin.org">Bitcoin</a>. It operates on a peer to peer	network, the same
		technology behind <a href="http://www.skype.com/">Skype</a> and <a href="http://www.bittorrent.com/">BitTorrent</a>. Futhermore, Terracoin is completely decentralized, meaning it is not controlled by 
		any government or central bank.

		<p class="pkeep">
			<a href="https://sourceforge.net/projects/terracoin/files/latest/download" class="success button give" style="width:10%;">1</a>
			<a href="https://sourceforge.net/projects/terracoin/files/latest/download" style="width:89%;" class="success button give">Download a Terracoin Wallet (Windows)</a>
		</p>
		<p class="pkeep">
			<a href="/guide" class="success button give" style="width:10%;">2</a>
			<a href="/guide" style="width:89%;" class="success button give">Read the Beginners Guide</a>
		</p>
	 </p>

	<h3>Get Free Terracoins</h3>
	<p>
		No gimmicks or tricks. We want you to try Terracoin out, so just put in a Terracoin address, and we will
		send you some! Currently, this faucet pays out <b>every 5 minutes</b>. You may submit up to 3 times 
		(then 1 time per day), and use coupons to get higher payouts. 
	</p>

	<form method="post" action="add">
		<fieldset>
			<legend>Request Form</legend>

			<div class="row">
				<div class="large-12 columns">
					<label>Terracoin Address</label>
					<input name="address" type="text" placeholder="ex. 14kBtNP5NfCFTFvn6jsEL6TUg8hVBehwYx">
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
					<label>Coupon</label>
					<input type="text" name="coupon" placeholder="Secret code for more coins. Optional.">
				</div>
				<div class="large-6 columns">
					<div class="row collapse">
						<label>Captcha</label>
							<div class="small-3 columns">
							<span class="prefix">
								{{captcha_x}}+{{captcha_y}} = ?
							</span>
						</div>
						<div class="small-9 columns">
							<input type="text" name="captcha" placeholder="Solve the math problem.">
							<input type="hidden" name="captcha_awns" value="{{captcha_awns}}" />
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns center">
					<p class="pkeep">
						<input style="width:10%;" type="submit" class="success button give" value="3"/>
						<input style="width:89%;" type="submit" class="success button give" value="Give Me Free Terracoins!"/>
					</p>
					<iframe scrolling="no" style="border: 0; width: 468px; height: 60px;" src="http://coinurl.com/get.php?id=10075"></iframe>
				</div>

			</div>
		</fieldset>
	</form>
	

	<h3>Recent Drips</h3>

	<div class="row">
		<div class="large-12 columns">
			<table>
				<thead>
					<tr>
						<th class="time">Time</th>
						<th class="ip">IP Address</th>
						<th class="transid">Transaction ID</th>
					</tr>
				</thead>
				<tbody>
					{{recent|safe}}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}

{% block stats %}
	This faucet has processed over <b>{{stats}}</b> Terracoin transactions since launch.
{% endblock %}
