<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico" />
	<title>Terracoin(TRC) Faucet</title>

	<link rel="stylesheet" href="static/css/normalize.css" />
	<link rel="stylesheet" href="static/css/foundation.css" />
	<link rel="stylesheet" href="static/css/custom.css" />
	<!--<script src="static/js/vendor/custom.modernizr.js"></script>-->

</head>

<body>
	<nav class="top-bar">
		<ul class="title-area">
			<!-- Title Area -->
			<li class="divider hide-for-small"></li>
			<li class="name">
				<h1><a href="/">Terracoin(TRC) Faucet</a></h1>
			</li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li><a href="/chat">Chat / Help</a></li>
				<li><a href="/resources">Resources</a></li>
			</ul>
		</section>
	</nav>

	<div class="row">
		<div class="large-12 columns header">
			<h2>Welcome to Terracoin(TRC) Faucet</h2>
		</div>
	</div>

<div class="row">

	<div class="large-8 columns">

	</div>


	<div class="large-4 columns">
		<h4>Getting Started</h4>
		<p><a href="https://sourceforge.net/projects/terracoin/files/latest/download" class="success button give">Download a Terracoin Wallet</a></p>
		<p><a href="http://cryptojunky.com/blog/2013/02/23/getting-started-with-terracoin-2/" class="success button give">Read the Beginners Guide</a></p>
		<p><a href="/resources" class="success button give">Spend and Trade Terracoin</a></p>

		<h4>Donations</h4>
		<p class="donations">
			We rely on your donations to keep the faucet and this site running. Even a small donation helps.<br/>
			<br/><b>TRC:</b> 1EAo9oBFKQXBzChnX4jJQ2DKCTeTe8iZHr
			<br/><b>BTC:</b> 1DZ5XxwaGkrhC8E1zCrmB5Yahk46DSDhiE
		</p>

		<h4>Statstics</h4>
		<p>
			We have processed <b>{{stats}}</b> transactions.
		</p>


		<h4>Resources</h4>
		<p>
			Want some help or some places to buy some Terracoin? Here you are:
			
			<ul class="disc shift">
				<li><a href="https://vircurex.com/welcome/index?referral_id=909-21547">Vircurex Exchange</a><br />Buy and sell Terracoins.</li>
				<li><a href="http://terracoin.org/">Terracoin</a><br />The official Terracoin website.</li>
				<li><a href="http://terracointalk.org/">Terracoin Talk</a><br />The official Terracoin forum.</li>
				<li><a href="http://www.reddit.com/r/Terracoin/">/r/Terracoin</a><br />A great place for Terracoin newbiews to ask questions.</li>
			</ul>
		</p>
	</div>

</div>

<!--
<script>
	document.write('<script src=' +
	('__proto__' in {} ? 'static/js/vendor/zepto' : 'static/js/vendor/jquery') +
	'.js><\/script>')
</script>
-->

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-40768937-1', 'trcfaucet.com');
	ga('send', 'pageview');
</script>

<!--
<script src="static/js/foundation.min.js"></script>
<script src="static/js/foundation/foundation.js"></script>
<script src="static/js/foundation/foundation.alerts.js"></script>
<script src="static/js/foundation/foundation.clearing.js"></script>
<script src="static/js/foundation/foundation.cookie.js"></script>
<script src="static/js/foundation/foundation.dropdown.js"></script>
<script src="static/js/foundation/foundation.forms.js"></script>
<script src="static/js/foundation/foundation.joyride.js"></script>
<script src="static/js/foundation/foundation.magellan.js"></script>
<script src="static/js/foundation/foundation.orbit.js"></script>
<script src="static/js/foundation/foundation.placeholder.js"></script>
<script src="static/js/foundation/foundation.reveal.js"></script>
<script src="static/js/foundation/foundation.section.js"></script>
<script src="static/js/foundation/foundation.tooltips.js"></script>
<script src="static/js/foundation/foundation.topbar.js"></script>
-->

</body>
</html>