{% extends "layout.html" %}

{% block content %}

<div>
	<h3>Sponsors</h3>
	<iframe scrolling="no" style="border: 0; width: 468px; height: 60px;" src="http://coinurl.com/get.php?id=10075"></iframe>
</div>

<div>
	<h3>Trading</h3>
	<p>
		<a href="https://vircurex.com/welcome/index?referral_id=909-21547" title="Vircurex exchange">Vircurex</a> : Terracoin Trading.<br>
		<a href="https://btc-e.com/" title="BTC-e Terracoin trading">BTC-e</a> : Terracoin Trading<br>
		<a href="http://exchange.zapto.org/" title="Cryptocoin exchange">CryptoCoin Exchange</a> : Terracoin Trading<br>
		<a href="http://bter.com/" title="Bitcoin Exchange Platform">Bitcoin Exchange Platform</a> : Terracoin Trading<br>
	</p>
</div>

<div>
	<h3>Mining pools</h3>
	<p>
		<a href="http://www.coinotron.com/" title="coinotron mining pool">Coinotron</a> : 2 / 5 % fees, pps/rbpps (Launched on Nov 7 2012)<br>
		<a href="https://www.multipool.in/" title="multipool mining pool">Multipool</a> : 1 % fees + 0.005 TRC per withdrawal, pplns (Launched on March 2013))<br>
		<a href="https://en.bitcoin.it/wiki/P2Pool" title="p2pool wiki page">P2Pool</a> : Mining with no registration<br>
		<a href="http://trc.vpool.us/" title="vPool TRC">vPool</a> : 1% fees, PPLNS (Launched on Mar 25 2013)
	</p>
</div>

<div>
	<h3>Gambling / gaming</h3>
	<p>
		<a href="http://crypto-games.us/" title="Cryptogames">SatoshiDice for Terracoins</a><br>
		<a href="http://diceoncrack.com/" title="DiceOnCrack">Terracoin Lottery</a><br>
		<a href="http://greenishblue.info/terradice/" title="Terradice">TerraDice</a>
	</p>
</div>

<div>
	<h3>News / discussion forum</h3>
	<p>
		<a href="http://www.reddit.com/r/terracoin" title="Terracoin reddit">Terracoin Reddit</a><br>
		<a href="http://www.terracointalk.org/" title="TerracoinTalk forum">Terracointalk Forum</a>
	</p>
</div>

<div>
	<h3>Statistics / Technical</h3>
	<p>
		<a href="http://cryptocoinexplorer.com:3750/" title="blockchain explorer">cryptocoinexplorer</a> : Blockchain Explorer<br>
		<a href="http://silverthreadsoftware.com/bitcoin/vanity/" title="vanity address generator">vanity address</a> : Vanity Address Generator
	</p>
</div>

<div>
	<h3>Hosted wallets</h3>
	<p>
		<a href="http://www.terrawallet.com/" title="Web wallet">TerraWallet</a> : Web Wallet.<br>
		<a href="http://terracoin.info/" title="terracoin address generator">terracoin.info</a> : Terracoin Wallet Generator
	</p>
</div>

{% endblock %}