<div class="large-4 columns">
	<h4>Getting Started</h4>
	<p><a href="https://sourceforge.net/projects/terracoin/files/latest/download" class="success button give">Download a Terracoin Wallet</a></p>
	<p><a href="http://cryptojunky.com/blog/2013/02/23/getting-started-with-terracoin-2/" class="success button give">Read the Beginners Guide</a></p>
	<p><a href="/resources" class="success button give">Spend and Trade Terracoin</a></p>

	<h4>Donations</h4>
	<p class="donations">
		We rely on your donations to keep the faucet and this site running. Even a small donation helps.<br/>
		<br/><b>TRC:</b> 1EAo9oBFKQXBzChnX4jJQ2DKCTeTe8iZHr
		<br/><b>BTC:</b> 1DZ5XxwaGkrhC8E1zCrmB5Yahk46DSDhiE
	</p>

	<h4>Statstics</h4>
	<p>
		We have processed <b>{{stats}}</b> transactions.
	</p>


	<h4>Resources</h4>
	<p>
		Want some help or some places to buy some Terracoin? Here you are:
		
		<ul class="disc shift">
			<li><a href="https://vircurex.com/welcome/index?referral_id=909-21547">Vircurex Exchange</a><br />Buy and sell Terracoins.</li>
			<li><a href="http://terracoin.org/">Terracoin</a><br />The official Terracoin website.</li>
			<li><a href="http://terracointalk.org/">Terracoin Talk</a><br />The official Terracoin forum.</li>
			<li><a href="http://www.reddit.com/r/Terracoin/">/r/Terracoin</a><br />A great place for Terracoin newbiews to ask questions.</li>
		</ul>
	</p>
</div>